<!-- articles/templates/articles/index.html -->

{% extends "base.html" %}

{% block page_title %}


{% endblock page_title %}


{% block page_content %}
    {% block posts %}
    <div>
        
            
           
           
        {% for post in posts %}
        <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6  col-centered  g-0 border rounded overflow-hidden mb-4 shadow-sm h-md-250 p-4 justify-content-center">
                       <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-success-emphasis">
                        Tags: {% for category in post.categories.all %}
                    <a href="{% url 'article_category' category.name %}">
                        {{ category.name }}
                    </a>
                {% endfor %}
                    </strong>
                    <h3 class="mb-0" style="font-family: Cutive Mono;"><a href="{% url 'article_detail' post.slug post.pk %}">{{ post.title }}</a></h3>
                    <div class="mb-1 text-body-secondary">{{post.created_on}}</div>
                    
                         <small>
                            By:
                            {% for author in post.authors.all %}
                                <a href="{% url 'article_author' author.name %}">
                                    {{ author.name }}
                                </a> | 
                            {% endfor %}
                            <a href="{% url 'article_issue' post.issues.num post.issues.vol %}">
                                Vol {{ post.issues.vol }}, Issue {{ post.issues.num}}
                            </a>
                         
                            
                        </small>
                    
                    {% load tag %}
            <p>{{ post.body|imgswitch:post.issues.fold | safe | slice:":400" }}...</p>
                </div>
            </div>
        </div>
                {% endfor %}
            
            
    </div>
        
    {% endblock posts %}
{% endblock page_content %}