<!-- articles/templates/articles/category.html -->

{% extends "articles/index.html" %}

{% block page_title %}

{% endblock page_title %}
{% block page_info %}
<div class="container-lg">
    <script src="https://unpkg.com/feather-icons"></script>
    <div class="row mt-5 mb-3">
      <!-- spacer div -->
      <div class="col-sm-2"></div>

      <!-- image and stats column -->
      <div class="col-sm-2">
        <img src="/static/author/{{a.img}}" class="img-fluid mb-3" alt="{AuthorImageAltText}">

        <div class="author-stat">
          <p>
            <i data-feather="tag"></i>
            Pronouns: {{a.pronouns}}
          </p>
        </div>

        <div class="author-stat">
            <p>
            <i data-feather="book-open"></i>
            Major: {{a.major}}
          </p>
        </div>

        <div class="author-stat">
            <p>
            <i data-feather="award"></i>
            Year: {{a.year}}
          </p>
        </div>

        <div class="author-stat">
            <p>
            <i data-feather="home"></i>
            {% load tag %}
            Location: {{a.location|imgswitch:"author"|safe}}
          </p>
        </div>

        <div class="author-stat">
            <p>
            <i data-feather="file-text"></i>
            Fact: {{a.fact}}
          </p>
        </div>

        <div class="author-stat">
            <p>
            <i data-feather="mail"></i>
            Email: {{a.email}}
          </p>
        </div>

        {{a.socials}}
      </div>
      
      <!-- bio and previous works -->
      <div class="col-sm-6">
        <h1>{{a.name}}</h1>

        <hr>

        <h2>Bio</h2>

        <p>
          {{a.bio}}
        </p>

        <hr>

      <!-- spacer div -->
      <div class="col-sm-2"></div>
    </div>
    <script>
      feather.replace();
    </script>
  </div>
{% endblock page_info %}