{% extends "base.html" %}

{% block page_title %}
<style>
    /* Default styling for mobile devices */
    .centered-container {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        width: 1000px;
    }
    .content-box {
        width: 100%;
        max-width: 1200px;
        border: 1px solid #ccc;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }
    
    /* Media query for wider screens (desktops) */
    @media (min-width: 768px) {
        .content-box {
            max-width: 2000px; /* Increase max-width for desktop */
        }
    }
    </style>
{% load static %}
<div style="display: flex; justify-content: center; margin-bottom: 20px;">
    <div class="border rounded overflow-hidden shadow-sm h-md-250 p-4" style="width: 100%; max-width: 1000px;">
        <strong class="d-inline-block mb-2 text-success-emphasis">
            Tags:
            {% for category in post.categories.all %}
                <a href="{% url 'article_category' category.name %}">
                    {{ category.name }}
                </a>
            {% endfor %}
        </strong>
        <h3 class="mb-0" style="font-family: Spectral, serif;">{{ post.title }}</h3>
        <div class="mb-1 text-body-secondary">{{ post.created_on }}</div>
        <small>
            By:
            {% for author in post.authors.all %}
                <a href="{% url 'article_author' author.name %}">
                    {{ author.name }}
                </a>
            {% endfor %}
        </small>
    </div>
</div>
{% endblock page_title %}
{% block page_info %}

{% endblock page_info %}
{% block page_content %}
<div style="display: flex; justify-content: center; margin-bottom: 20px;">
    <div class="border rounded overflow-hidden shadow-sm h-md-250 p-4" style="width: 100%; max-width: 1000px;">
       
        <p>
            {% load tag %}
            {{ content|create_md|imgswitch:post.issues.fold | safe |linebreaks }}
        </p>
    </div>
</div>
<div style="display: flex; justify-content: center; margin-bottom: 20px;">
    <div class="border rounded overflow-hidden shadow-sm h-md-250 p-4" style="width: 100%; max-width: 1000px;">
        <h3>Leave a comment:</h3>
        <form method="post">
            {% csrf_token %}
            <div>
                {{ form.author }}
            </div>
            <div>
                {{ form.body }}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <h3>Comments:</h3>
        {% for comment in comments %}
            <div class="border rounded overflow-hidden shadow-sm p-4" style="margin-bottom: 10px;">
                <p>
                    On {{ comment.created_on.date }} <b>{{ comment.author }}</b> wrote:
                </p>
                <p>
                    {{ comment.body | linebreaks }}
                </p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock page_content %}
